registry=https://registry.npmjs.org
legacy-peer-deps=true
strict-ssl=false
fund=false
audit=false
progress=false
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
timeout=120000
