services:
  app:
    build:
      context: .
    container_name: bookstore_app
    restart: always
    ports:
      # host:container (app listens on 8080 per .env)
      - "10012:8080"
    env_file:
      - .env
    depends_on:
      - mysql
    networks:
      - backend
    volumes:
      - .:/app
      - /app/node_modules

  mysql:
    image: mysql:8.0
    container_name: mysql8_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - backend

networks:
  backend:

volumes:
  mysql_data: